# Core
Django==5.1.5
gunicorn==23.0.0
python-decouple==3.8

# Banco de Dados e Infra
dj-database-url==2.1.0
psycopg2-binary==2.9.9
whitenoise==6.8.2

# Interface e Frontend
django-htmx==1.21.0
django-ckeditor==6.7.1

# Integrações e Utilidades (Necessários para CRM e Assinatura Digital)
requests==2.32.3
python-dateutil==2.9.0
