# Core
Django==5.1.5
gunicorn==23.0.0
python-decouple==3.8

# Banco de Dados e Infra
dj-database-url==2.1.0
psycopg2-binary==2.9.10
whitenoise==6.8.2

# Interface e Frontend
django-htmx==1.21.0
django-ckeditor==6.7.1
django-crispy-forms==2.3
crispy-bootstrap5==2024.10

# Relatórios e PDF
xhtml2pdf==0.2.16

# Assinatura Digital e Segurança
signxml==4.2.2

# Integrações e Utilidades (Necessários para CRM e Assinatura Digital)
requests==2.32.3
python-dateutil==2.9.0
sqlparse==0.5.3
tzdata==2025.1
asgiref==3.8.1

# Importador Inteligente
pandas==2.2.3
numpy==2.2.2
openpyxl==3.1.5
chardet==5.2.0
pydantic==2.10.6
djangorestframework==3.15.2

# Backup e Google Drive
google-api-python-client==2.159.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
