# Core
Django==5.1.5
gunicorn==23.0.0
python-decouple==3.8

# Banco de Dados e Infra
dj-database-url==2.1.0
psycopg2-binary==2.9.9
whitenoise==6.8.2

# Interface e Frontend
django-htmx==1.21.0
django-ckeditor==6.7.1
django-crispy-forms==2.3
crispy-bootstrap5==2024.10

# Relatórios e PDF
xhtml2pdf==0.2.16

# Assinatura Digital e Segurança
signxml==3.5.0

# Integrações e Utilidades (Necessários para CRM e Assinatura Digital)
requests==2.32.3
python-dateutil==2.9.0
sqlparse==0.5.3
tzdata==2025.1
asgiref==3.8.1
